@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}

* {
  margin: 0;
  box-sizing: border-box;
}

p,
h2 {
  margin: 0;
}

body {
  background-image: url(./images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-color: var(--Pale-blue);
  font-family: "Red Hat Display", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 0.8rem;
  overflow: hidden;
}
.card-hero-image img {
  width: 100%;
}

.card-detils {
  padding: 0 30px;
  text-align: center;
}

.card-heading {
  margin-bottom: 1rem;
  margin-top: 1.2rem;
  font-weight: 900;
}

.card-description {
  margin-bottom: 1.2rem;
  font-size: 0.9rem;
  color: var(--Desaturated-blue);
  line-height: 1.2rem;
}

.plan-details-section {
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Very-pale-blue);
  margin-bottom: 1.5rem;
  border-radius: 0.7rem;
}

.plan-details-left img {
  vertical-align: middle;
  margin-right: 10px;
}

.plan-info {
  display: inline-block;
  vertical-align: middle;
}

.plan-name {
  color: var(--Dark-blue);
  font-weight: 900;
  font-size: 12.5px;
}

.plan-price {
  margin-top: 2px;
  color: var(--Desaturated-blue);
  font-size: 13px;
}

.plan-details-right a {
  font-size: 14px;
  color: var(--Bright-blue);
  font-weight: 700;
}

button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
}

.payment-btn {
  background-color: var(--Bright-blue);
  border-color: var(--Bright-blue);
  border-style: solid;
  color: white;
  font-weight: 700;
  box-shadow: 0 15px 20px hsl(224, 23%, 85%);
}

.cancel-btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none;
  background-color: inherit;
  color: var(--Desaturated-blue);
  font-weight: 700;
}

/*Active States*/
.plan-details-right a:hover {
  text-decoration: none;
  color: hsl(245, 75%, 65%);
}

.payment-btn:hover {
  cursor: pointer;
  background-color: hsl(245, 75%, 65%);
  border-color: hsl(245, 75%, 65%);
}

.cancel-btn:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 1);
}

/*Mobile Layout*/

@media only screen and (max-width: 600px) {
  .container {
    width: 300px;
  }
}

@media only screen and (max-width: 320px) {
  body {
    background-image: url(./images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
  }
}
